[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "hierarchicalDS"]
	path = hierarchicalDS
	url = https://github.com/cran/hierarchicalDS
